tags
.project
VERSION
yade.1
debian/changelog
debian/control
doc/epydoc

doc/sphinx/WallStresses
doc/sphinx/_build/
doc/sphinx/_publications.bib
doc/sphinx/abc.xml
doc/sphinx/modules.rst
doc/sphinx/publications.rst
doc/sphinx/references.rst
doc/sphinx/yade.eudoxos.rst
doc/sphinx/yade.export.rst
doc/sphinx/yade.linterpolation.rst
doc/sphinx/yade.log.rst
doc/sphinx/yade.pack.rst
doc/sphinx/yade.plot.rst
doc/sphinx/yade.post2d.rst
doc/sphinx/yade.qt.rst
doc/sphinx/yade.timing.rst
doc/sphinx/yade.utils.rst
doc/sphinx/yade.wrapper.rst
doc/sphinx/yade.ymport.rst
doc/sphinx/yade.polyhedra_utils.rst
doc/sphinx/yade.gridpfacet.rst
.kdev4/
*.kdev4
*.pyc
*~
.idea
trunk.iml
.vscode
