# git debian-directory
/home/USER/dem/yade/yadedaily/

# directory, where will be created pbuilder tarballs
/home/USER/dem/yade/ppa/pbuilder_new

# git upstream-directrory
/home/USER/dem/yade/trunk

# user
USER

# group
USER

# name of dput ppa
mini

# Key to sign packages
AA915EEB

# Path to passphrase key
/home/USER/dem/yade/ppa/gpg/pwdonly

# Path to key secret part
/home/USER/dem/yade/ppa/gpg/yadedev_sec.gpg

# Path to archive (deb-repo)
/home/USER/M/Temp/archive


